body {
    margin: 0;
    font-family: Inter,sans-serif;
    font-size: 1.125rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: darkgrey;
}

.container {
    margin: auto;
    max-width: 825px;
    background-color: #fff;
}

.nav {
    background-color: #F55A5A;
    margin-bottom: 30px;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nav > p {
    margin: 0;
}

.card {
    padding: 10px 60px 0 60px;
    display: flex;
    flex-direction: row;
}

.card:first-child {
    padding-top: 100px;
}
.card > img {
    width: 190px;
    height: 252px;
    margin: 15px;
    border-radius: 10px;
}

.contents {
    padding-top: 30px;
}

.location__map-marker {
    color: #F55A5A;
}

.location-country {
    margin: 0 12px 0 4px;
}

.location-url {
    color: #918E9B;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-date {}

.card-description {
}


